@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.custom_navbar_list_toy {
    background-color: white;
    color: white;
    display: flex;
    height: 8vh;
    width: 100vw;
    position: sticky;
    /* top: 0; */
    justify-content: space-between; 
    align-items: center;
    padding: 0 1rem;
    z-index: 999;
    border-bottom: 1px solid #d3cccc;
}

.logo {
    display: flex;
    align-items: center;
    justify-items: left;
    color: #d9d9d9;
    padding: 12px;
}
.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.logo-icon img {
    height: 38px; /* ขนาดของไอคอน */
    width: 38px;
    border-radius: 18%;
    border: 1px solid white;
}

.search-bar {
    width: 500px; /* ใช้ flex เพื่อให้ส่วนนี้ยืดหยุ่นได้ */
    margin: 0 10px;
    display: flex;
}
.search-bar input {
    color: #000;
}
.ant-input-prefix svg {
    color: #848282d2;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-items: center;
    /* Move the dropdown icon to the right using margin-left */
    margin-right: 20px;
}

.dropdown svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* ขนา��ของไอคอน */
    width: 26px; /* ขนา��ของไอคอน */
    color: #000;
}

.dropdown svg :hover {
    height: 24px; /* ขนา��ของไอคอน */
    width: 24px; /* ขนา��ของไอคอน */
    color: green;
    cursor: pointer;
}
